{%extends 'admin/dashboardadmin.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <h1><center>Feedback</center></h1>
  <br>
  <table class="table" width="200" border="1">
    <tr>
      <th scope="col">Sl no. </th>
      <th scope="col">User name </th>
      <th scope="col">Date</th>
      <th scope="col">Suggestions</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.uid.fullname}}</td>
      <td>{{i.date}}</td>
      <td>{{i.feedbacks}}</td>
    </tr>
     {% endfor %}
  </table>
</form>
</body>
{% endblock %}
