{%extends 'resort/dashboardresort.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="{% url 'resortfacilityedit' %}" enctype="multipart/form-data">
  <table class="table" width="200" border="1">
    <tr>
      <th scope="col">Facility</th>
      <th scope="col"><label>
        <input type="text" name="textfield" value="{{val.facility}}"/>
      </label></th>
    </tr>
    <tr>
      <td><div align="center">Image</div></td>
      <td><label>
        <input type="file" name="file" /><img src="{{val.image.url}}"width="100" height="100">
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Description</div></td>
      <td><label>
        <input type="text" name="textfield2" value="{{val.description}}"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
