{%extends 'resort/dashboardresort.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addresortfacility">
  <h1 align="center">Facility</h1><BR>
  <table class="table" width="233" border="1">
    <tr>
      <th width="49" scope="col">sl no.</th>
      <th width="49" scope="col">Facility</th>
      <th width="42" scope="col">Image</th>
      <th width="77" scope="col">Description</th>
      <th width="37" scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.facility}}</td>
      <td><img src="{{i.image.url}}"width="100px" height="100px"></td>
      <td>{{i.description}}</td>
      <td><a href="{% url 'editresortfacility'  id=i.id %}">edit</a>
      <a href="{% url 'deleteresortfacility'  id=i.id %}">delete</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4"><label>
        <div align="center">
          <input type="submit" name="Submit" value="add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
